source/java/core/bin
source/java/bin/*
source/java/core/dist
source/java/core/build
source/java/loader/bin
source/java/loader/bin/*
source/java/debug/bin
source/java/debug/web/*
source/java/debug/server/*
source/java/debug/bin/*
source/java/debug/server/context/version
source/java/instrumentation/bin
source/java/debug/server/*
source/java/debug/web/*
source/java/debug/bin/*
source/java/instrumentation/bin/*
source/java/libs/bin
source/java/loader/build

tests/testcases/todo/

db.log
db.properties
db.script

**/.DS_Store
**/.svn/
/*.project
va specific
*.class
dist
dist/*
temp-createAdminlucee
temp-createAdminlucee/*
source/java/*/.settings/*
## generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out
pom.xml
sample.mov
/.idea/
/*.iml
*.hbm.xml
test.xml

